tensorflow==2.10.0
keras==2.10.0
numpy==1.21.6
pandas==1.4.3
opencv-python==4.6.0.66
scikit-learn==1.1.2
matplotlib==3.5.2
seaborn==0.11.2
albumentations==1.1.0
imageio==2.19.3
Pillow==9.2.0
tqdm==4.64.0
scipy==1.9.3
tensorflow-addons==0.19.0